<div class="app-container">
  <div class="left-container" [ngClass]="[ thoughtsCreatorIsOpen ? '' : 'full-width' ]">
    <div class="left-container-inner">
      <thoughts-timeline (thoughtsLoaded)="thoughtsLoaded($event)"></thoughts-timeline>
    </div>
    <button *ngIf="!isLoading" class="add-thougths-btn" [ngClass]="[ thoughtsCreatorIsOpen ? 'close' : '' ]" (click)="toggleThoughtsCreator()">
      <div class="add-thougths-btn-inner"></div>
    </button>
  </div>
  <div class="right-container" [ngClass]="[ thoughtsCreatorIsOpen ? '' : 'is-closed' ]">
    <new-thought (thoughtSaved)="thoughtSaved()"></new-thought>
  </div>
</div>

<snackbar *ngIf="isSnackbarVisible" [closeSnackbar]="hideMessage.bind(this)" [message]="snackbarMessage"></snackbar>